body {
    background-color: #34210B;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 40px;
  }
  
  .appbar {
    background-color: #34210B;
  }
  
  .paper {
    background-color: #4E161A;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  
  .button {
    margin-top: 20px;
    width: 100%;
  }
  
  .textField {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .uploadIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  